.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 30%;
    min-height: 200px;
    background-color: bisque;
    margin: 10px;
    
}
@media(max-width:768px){
    .container{
        flex-direction: column;
    }
}
.box2{}
.box3{}
.box4{}